server:
  port: 8888
  
spring:
  datasource:
    url: jdbc:postgresql://192.168.1.100:9432/rentacar
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    platform: org.hibernate.dialect.PostgreSQLDialect


pagina-inicial: home
      
