server:
  port: 80
  
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rentacar
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    platform: org.hibernate.dialect.PostgreSQLDialect


pagina-inicial: home
      
