<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="fragments/cabecalho :: header"></head>	
	
	<body class="container">
		<nav th:replace="fragments/cabecalho :: menu"></nav>
  		
		<div class="card">
			
			<h4 th:replace="fragments/cadastro :: cabecalho-card"></h4>
			
			<div class="card-body">


				<form  class="container" action="/carros/salvar" method="POST" th:object="${carro}">
					<nav th:replace="fragments/cadastro :: mensagens"></nav>		
					
					<input type="hidden" th:field="*{id}"/>
		
					<div class="form-group">
						<label for="placa">Placa:</label>
						<input class="form-control"  type="text" th:field="*{placa}"/>
					</div>
		
					<div class="form-group">
						<label for="chassi">Chassi:</label>
						<input class="form-control"  type="text" th:field="*{chassi}"/>
					</div>
		
					<div class="form-group">
						<label for="valorDaDiaria">Valor da Diária:</label>
						<input class="form-control"  type="text" th:field="*{valorDaDiaria}"/>
					</div>
					
					<div class="form-group">
						<label for="modelo">Modelo:</label>
						<select class="custom-select"  th:field="*{modelo}">
							<option th:each="modelo : ${todosModelos}" th:text="${modelo.textoApresentacao}" th:value="${modelo.id}"></option>
						</select>
					</div>
					
					<nav th:replace="fragments/cadastro :: botoes"></nav>				
				</form>
			</div>
		</div>
	</body>
</html>