<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	<head>
		<meta charset="UTF-8"/>
		<title th:text="${nomeEntidadePlural}"></title>
	</head>
	<body class="container">

  		<br/>
  		  
		<div class="card">

			<h4 class="card-header" th:text="${nomeEntidadePlural}"></h4>
			
			<div class="card-body">

				<h4 class="card-title" th:text="'Lista de ' + ${nomeEntidadePlural}"></h4>

				<br/>

				<a class="btn btn-primary" th:href="@{/{controlador}/novo(controlador = ${controlador})}" th:text="'+ ' + ${nomeEntidade}"></a>
	
				<br/>
				<br/>
				
				<table class="table table-striped container">
					<thead>
						<tr>
							<th th:each="coluna : ${colunas}" th:text="${coluna}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entidade : ${entidades}">
						    <td th:each="atributo : ${atributos}" th:text="${entidade[atributo]}"></td>
							<td>
								<a class="btn btn-info" th:href="@{/{controlador}/editar/{id}(controlador = ${controlador},id = ${entidade.id})}">Editar</a>
								<a class="btn btn-danger" th:href="@{/{controlador}/excluir/{id}(controlador = ${controlador},id = ${entidade.id})}">Excluir</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>