<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="fragments/layoutPadrao">
	

	<section layout:fragment="conteudo">
  		
		<div class="card">
			
			<h4 th:replace="fragments/cadastro :: cabecalho-card"></h4>
			
			<div class="card-body">
			
				<div th:replace="fragments/listagem :: mensagens"></div>				
				
				<div  class="container">
					<a class="btn  btn-novo btn-primary" th:href="@{/{controlador}/novo(controlador = ${controlador})}" th:text="'+ Novo ' + ${nomeEntidade}"></a>
				</div>
				
				<table class="table table-striped container">
					<thead>
						<tr>
							<th th:each="coluna : ${colunas}" th:text="${coluna}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entidade : ${entidades}">
						    <td th:each="atributo : ${atributos}" th:text="${{entidade[atributo]}}"></td>
							<td style="width:180px">
								<a class="btn btn-outline-primary" th:href="@{/{controlador}/editar/{id}(controlador = ${controlador},id = ${entidade.id})}"
									data-toggle="tooltip" data-placement="top" title="Editar"><i class="zmdi zmdi-edit"></i> Editar</a>
								<a class="btn btn-outline-danger" th:href="@{/{controlador}/excluir/{id}(controlador = ${controlador},id = ${entidade.id})}"
									data-toggle="tooltip" data-placement="top" title="Excluir" onclick="return confirm('Confirma a exclusão ?')"><i class="zmdi zmdi-delete"></i> Excluir</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(entidades)}">
							<td th:colspan="${atributos.length}+1" th:text="'Nenhum registro de '+${nomeEntidade}+' cadastrado!'"></td>
						</tr>						
					</tbody>
				</table>
			</div>
		</div>
		
	</section>
</html>