<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="fragments/cabecalho :: header"></head>
	
	<body class="container">
		<nav th:replace="fragments/cabecalho :: menu"></nav>
  		  
		<div class="card">

			<h4 class="card-header" th:text="'Lista de ' + ${nomeEntidadePlural}"></h4>
			
			<div class="card-body">
				
				<div  class="container">
					<a class="btn btn-primary" th:href="@{/{controlador}/novo(controlador = ${controlador})}" th:text="'+ ' + ${nomeEntidade}"></a>
				</div>
				
				<table class="table table-striped container">
					<thead>
						<tr>
							<th th:each="coluna : ${colunas}" th:text="${coluna}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entidade : ${entidades}">
						    <td th:each="atributo : ${atributos}" th:text="${entidade[atributo]}"></td>
							<td>
								<a class="btn btn-info" th:href="@{/{controlador}/consultar/{id}(controlador = ${controlador},id = ${entidade.id})}">Consultar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br/>
	</body>
</html>