<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/cabecalho :: header"></head>	
	
	<body class="container">
		<nav th:replace="fragments/cabecalho :: menu"></nav>
  		
		<div class="card">
			
			<h4 th:replace="fragments/cadastro :: cabecalho-card"></h4>
			
			<div class="card-body">
							
				<form  class="container" action="/locacoes/salvar" method="POST" th:object="${locacao}">
					
					<nav th:replace="fragments/cadastro :: mensagens"></nav>		
		
					<input type="hidden" th:field="*{id}"/>
	
					<div class="form-group">
						<label for="motorista">Motorista:</label>
						<select  th:if="!${isConsulta}" class="custom-select"  th:field="*{motorista}">
							<option th:each="motorista : ${todosMotoristas}" th:text="${motorista.textoApresentacao}" th:value="${motorista.id}"></option>
						</select>
						<input th:if="${isConsulta}" class="form-control"  type="text" th:value="${locacao.nomeDoMotoristaComCpf}" disabled="disabled"/>
					</div>
					
					<div class="row">
						<div class="col-md-8 form-group">
							<label for="carro">Carro:</label>
							<select  th:if="!${isConsulta}" class="custom-select"  th:field="*{carro}">
								<option th:each="carro : ${carrosDisponiveis}" th:text="${carro.textoApresentacao}" th:value="${carro.id}"></option>
							</select>
							<input th:if="${isConsulta}" class="form-control"  type="text" th:value="${locacao.descricaoDoCarroComDiaria}" disabled="disabled"/>
						</div>				
			
						<div th:if="${isConsulta}" class="col-md-4 form-group">
							<label for="dataDeLocacao">Data de Locação:</label>
							<input class="form-control"  type="text" th:field="*{dataDeLocacao}" disabled="disabled"/>
						</div>
					</div>
	
					<div th:if="${isConsulta}" class="row">
						<div class="col-md-6 form-group">
							<label for="valorDaDiariaContratada">Valor da Diária Contratada:</label>
							<input class="form-control"  type="text" th:field="*{valorDaDiariaContratada}" disabled="disabled"/>
						</div>
		
						<div class="col-md-6 form-group">
							<label for="situacao">Situação:</label>
							<input th:if="*{dataDeDevolucao}==null" class="form-control"  type="text" value="LOCADO" disabled="disabled"/>
							<input th:if="*{dataDeDevolucao}!=null" class="form-control"  type="text" value="DEVOLVIDO" disabled="disabled"/>
						</div>
					</div>

					<div th:if="${isConsulta} and *{dataDeDevolucao}==null" class="row">
						<div class="col-md-6 form-group">
							<label for="dataDeDevolucao">Dias Locados:</label>
							<input class="form-control"  type="text" th:value="${diasLocados}" disabled="disabled"/>
						</div>
			
						<div class="col-md-6 form-group">
							<label for="valorTotal">Valor a Pagar:</label>
							<input class="form-control"  type="text" th:value="${valorAPagar}" disabled="disabled"/>
						</div>
					</div>					
					
					<div th:if="${isConsulta} and *{dataDeDevolucao}!=null" class="row">
						<div class="col-md-6 form-group">
							<label for="dataDeDevolucao">Data de Devolução:</label>
							<input class="form-control"  type="text" th:field="*{dataDeDevolucao}" disabled="disabled"/>
						</div>
			
						<div class="col-md-6 form-group">
							<label for="valorTotal">Valor Total:</label>
							<input class="form-control"  type="text" th:field="*{valorTotal}" disabled="disabled"/>
						</div>
					</div>					
			
					<div th:fragment="botoes"  class="form-group">
						<button th:if="!${isConsulta}" type="submit" class="btn btn-success">Salvar</button>
						<a th:if="${isConsulta} and *{dataDeDevolucao}==null" th:href="@{/locacoes/devolver/{id}(id = ${locacao.id})}" class="btn btn-success">Registrar Devolução</a>
						<a class="btn btn-secondary" th:href="@{/locacoes}">Voltar</a>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>