<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="fragments/layoutPadrao">
	

	<section layout:fragment="conteudo">
  		
		<div class="card">
			
			<h4 th:replace="fragments/cadastro :: cabecalho-card"></h4>
			
			<div class="card-body">
						
				<form  class="container" action="/modelos/salvar" method="POST" th:object="${modelo}">
					<nav th:replace="fragments/cadastro :: mensagens"></nav>		

					<input type="hidden" th:field="*{id}"/>

					<div class="form-group">
						<label for="descricao">Descrição:</label>
						<input class="form-control"  type="text" th:field="*{descricao}"/>
					</div>
					
					<div class="form-group">
						<label for="categoria">Categoria:</label>
						<select class="custom-select"  th:field="*{categoria}">
							<option th:each="categoria : ${todasCategorias}" th:text="${categoria.descricao}" th:value="${categoria}"></option>
						</select>
					</div>
				
					<div class="form-group">
						<label for="fabricante">Fabricante:</label>
						<select class="custom-select"  th:field="*{fabricante}">
							<option th:each="fabricante : ${todosFabricantes}" th:text="${fabricante.textoApresentacao}" th:value="${fabricante.id}"></option>
						</select>
					</div>
				
					<nav th:replace="fragments/cadastro :: botoes"></nav>		
				</form>
			</div>
		</div>
	</section>
</html>