<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="${nomeEntidadePlural}"></title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
	</head>
	
	<body class="container">

  		<br/>
  		  
		<div class="card">

			<h4 class="card-header" th:text="${nomeEntidadePlural}"></h4>
			
			<div class="card-body">

				<h4 class="card-title" th:text="'Cadastro de ' + ${nomeEntidadePlural}"></h4>

				<form  class="container" action="/modelos/salvar" method="POST" th:object="${modelo}">
					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError: ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
		
					<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
						<span th:text="${mensagem}"></span>
					</div>
		
					<br/>
		
					<input type="hidden" th:field="*{id}"/>

					<div class="form-group">
						<label for="descricao">Descrição:</label>
						<input class="form-control"  type="text" th:field="*{descricao}"/>
					</div>
					
					<div class="row">
						<div class="col-md-6 form-group">
							<label for="categoria">Categoria:</label>
							<select class="custom-select"  th:field="*{categoria}">
								<option th:each="categoria : ${todasCategorias}" th:text="${categoria.descricao}" th:value="${categoria}"></option>
							</select>
						</div>
					
						<div class="col-md-6 form-group">
							<label for="fabricante">Fabricante:</label>
							<select class="custom-select"  th:field="*{fabricante}">
								<option th:each="fabricante : ${todosFabricantes}" th:text="${fabricante.textoApresentacao}" th:value="${fabricante.id}"></option>
							</select>
						</div>
					</div>
				
					<button type="submit" class="btn btn-success">Salvar</button>
					<a class="btn btn-secondary" th:href="@{/{controlador}(controlador = ${controlador})}">Voltar</a>					
				</form>
			</div>
		</div>
	</body>
</html>