<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Produto</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<div class="container">

<h1>Cadastro de Produto</h1>

<a th:href="@{/produtos}">Listar Produtos</a>

<br/>
<br/>
<form  class="container" action="/produtos/salvar" method="POST" th:object="${produto}">

	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
		<div th:each="detailedError: ${#fields.detailedErrors()}">
			<span th:text="${detailedError.message}"></span>
		</div>
	</div>


	<div class="alert alert-success" th:if="${!#strings.isEmpty(message)}">
		<span th:text="${message}"></span>
	</div>

	<br/>

	<input type="hidden" th:field="*{id}"/>

	<div class="form-group">
		<label for="nome">Nome:</label>
		<input class="form-control"  type="text" th:field="*{nome}"/>
	</div>
	
	<div class="form-group">
		<label for="valor">Valor:</label>
		<input class="form-control" type="text" th:field="*{valor}"/>
	</div>
	
	<div class="form-group">
		<label for="dataDeCadastro">Data de Cadastro:</label>
		<input class="form-control"  type="text" th:field="*{dataDeCadastro}"/>
	
	</div>
	
	<div class="form-group">
		<label for="statusDoProduto">Status do Produto:</label>
		<select class="custom-select"  th:field="*{statusDoProduto}">
			<option th:each="statusDoProduto : ${todosStatusDoProtudo}" th:text="${statusDoProduto.descricao}" th:value="${statusDoProduto}"></option>
		</select>
	</div>
	
	<button type="submit" class="btn btn-primary">Salvar</button>

</form>

</div>
</body>
</html>